.Inputbar {
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  bottom: 0;
  padding-block: 1%;
  & > input {
    font-size: calc(var(--text-size) - 0.3em);
    width: 30%;
    text-overflow: clip;
  }
  & > .send > img {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
