.container {
  flex-grow: 1;
  overflow-y: auto;
  overflow: scroll;
  padding: 20px;
  scroll-behavior: smooth;
  & > .topBar {
    background-color: #075e54;
    padding: 10px;
    display: flex;
    align-items: center;
    & img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  & > .chatboxReceived {
    margin-bottom: 15px;
    & > .baloon {
      overflow: clip;
      background-color: #dcf8c6;
      border-radius: 10px;
      padding: 10px;
      max-width: 70%;
      display: inline-block;
      & .user {
        font-weight: bold;
        margin: 0 0 5px 0;
      }
      & .message {
        margin: 0;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }
  & > .chatboxSent {
    margin-bottom: 15px;
    text-align: end;
    & > .baloon {
      overflow: clip;
      background-color: #d6d2d2;
      border-radius: 10px;
      padding: 10px;
      max-width: 70%;
      display: inline-block;
      & .user {
        font-weight: bold;
        margin: 0 0 5px 0;
      }
      & .message {
        word-wrap: break-word;
        white-space: pre-wrap;
        margin: 0;
      }
    }
  }
}
