.container {
  background-color: white;
  flex-grow: 1;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-block: 1%;
  gap: 2%;

  & > .topBar {
    display: flex;
    & > div {
      padding-left: 5%;
    }
    & > img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5%;
    }
  }
  & .message {
    word-wrap: break-word;
    white-space: pre-line;
    white-space: pre-wrap;
  }
  & .chatboxReceived {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    & > .baloon {
      padding-inline: 5%;
      font-size: calc(var(--text-size) - 0.3em);
      font-size: var(--text-size);
      width: fit-content;
      border-radius: 10px;
      max-width: 80%;
      -moz-box-shadow: 0 0 3px #2c61b1;
      -webkit-box-shadow: 0 0 3px #2c61b1;
      box-shadow: 0 0 3px #2c61b1;
      & .user {
        color: #0f7fca;
      }
    }

    /* align-items: flex-end; to move to the right */
  }

  & .chatboxSent {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    align-items: flex-end;
    & > .baloon {
      padding-inline: 2%;
      font-size: calc(var(--text-size) - 0.3em);
      font-size: var(--text-size);
      width: fit-content;
      border-radius: 10px;
      background-color: #c0d1eb;
      max-width: 95%;
      -moz-box-shadow: 0 0 3px #2c61b1;
      -webkit-box-shadow: 0 0 3px #2c61b1;
      box-shadow: 0 0 3px #2c61b1;
      & .user {
        color: #0f7fca;
      }
    }
  }
}
