.container {
  background-color: #313338;
  flex-grow: 1;
  color: rgb(242, 243, 245);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  & > div {
    width: 100%;
  }
}
